.contentBlocks
        margin-top: 5rem
        @media (max-width: 1200px)
            margin-top: 4.375rem
        @media (max-width: 768px)
            margin-top: 4.375rem
        @media (max-width: 360px)
            margin-top: 3rem