.content
    margin-top: 80px
.main
    flex-direction: row-reverse
    @media (max-width: 1300px)
        height: auto
    @media (max-width: 1200px)
        flex-direction: column
        width: 100%
        height: auto
    @media (max-width: 425px)
        gap: 10px