//для хранения переменных (var) в файлах стилей

//например можно использовать для хранения цветов

#root
  // COLORS
  --root-white: #ffffff
  --root-blue: #042A5B
  --root-aquamarine: #88CDC1

//color: var(--root-white)
//таким оброзом он будет использоваться в стилях

