.regulations
  margin-bottom: 80px

  .breadcrumbs
    margin-bottom: 40px

  .heading
    margin-bottom: 48px

  .table
    background-color: var(--main)
    padding: 24px 16px

    .headings
      display: flex
      justify-content: space-between
      text-transform: uppercase
      margin-bottom: 12px

      li
        padding: 8px 12px
        border-radius: 4px
        background-color: var(--grey100)

      .headingDate
        width: 184px

      .headingNumberDoc
        width: 200px

      .headingName
        width: 880px

    .documentsContainer
      height: auto
      max-height: 700px
      overflow-y: auto
      overflow-x: hidden
