.main  
  h1
    width: 350px    
    font-family: "Merriweather", serif
    margin: 40px 40px 48px 0
@media (max-width: 1200px)
    .h1
      width: 188px
      height: 44px
@media (max-width: 900px)
    .h1
      width: 188px
      height: 44px
@media (max-width: 800px)
    .h1
      width: 188px
      height: 44px
@media (max-width: 768px)
    .h1
      width: 188px
      height: 44px
@media (max-width: 650px)
    .h1
      width: 188px
      height: 44px
@media (max-width: 360px)      
    .h1
      width: 155px
      height: auto          
      margin: 0 16px

.contentInner
    display: flex
    flex-direction: column
    gap: 24px    
    margin-bottom: 80px
@media (max-width: 1300px)
    .contentInner
        display: flex
        flex-wrap: wrap
        gap: 40px
@media (max-width: 1200px)
    .contentInner
        display: flex
        flex-wrap: wrap
        gap: 40px
@media (max-width: 1000px)
    .contentInner
        display: flex
        flex-wrap: wrap
        gap: 40px
@media (max-width: 900px)
    .contentInner    
        display: flex
        flex-wrap: wrap    
        gap: 40px
@media (max-width: 800px)
    .contentInner    
        display: flex
        flex-wrap: wrap    
        gap: 40px
@media (max-width: 768px)
    .contentInner    
        display: flex
        flex-wrap: wrap    
        gap: 40px
@media (max-width: 360px)
    .contentInner          
          gap: 40px

.contentBlock
  display: flex
  background-color: var(--main)
  border-radius: 16px
  height: 374px
  &Text
    display: flex
    flex-direction: column
    gap: 16px
    padding: 77px 32px
@media (max-width: 1200px)
    .contentBlock
        width: 820px
        height: auto
        display: flex
        flex-wrap: wrap
        justify-content: center            
        &Text
          padding: 10px
          margin-bottom: 5px
@media (max-width: 1000px)
    .contentBlock
        width: 820px
        height: auto
        display: flex
        flex-wrap: wrap
        justify-content: center            
        &Text
          padding: 10px
          margin-bottom: 5px
@media (max-width: 900px)
    .contentBlock
        width: 820px
        height: auto
        display: flex
        flex-wrap: wrap
        justify-content: center            
        &Text
          padding: 10px
          margin-bottom: 5px
@media (max-width: 800px)
    .contentBlock
        width: 720px
        height: auto
        display: flex
        flex-wrap: wrap
        justify-content: center            
        &Text
          padding: 10px
          margin-bottom: 5px
@media (max-width: 768px)
    .contentBlock
        width: 688px
        height: auto
        display: flex
        flex-wrap: wrap
        justify-content: center            
        &Text
          padding: 10px
          margin-bottom: 5px
@media (max-width: 680px)
    .contentBlock
        width: 600px
        height: auto
        display: flex
        flex-wrap: wrap
        justify-content: center   
        //margin-left: auto
        //margin-right: auto         
        &Text
          padding: 10px
          margin-bottom: 5px
@media (max-width: 460px)
    .contentBlock
        width: 380px
        height: auto
        display: flex
        flex-wrap: wrap
        justify-content: center            
        &Text
          padding: 10px
          margin-bottom: 5px
@media (max-width: 360px)
    .contentBlock    
        width: 328px    
        height: auto        
        display: flex
        flex-wrap:  wrap
        justify-content: center
        &Text
          padding: 0px
          margin-bottom: 5px
          
.heading
  width: 632px
  height: 78px  
@media (max-width: 360px)
    .heading       
        width: 328px
        height: 80px
        margin-bottom: 25px
.text
  width: 632px
  height: 126px  
  color: var(--grey500)
  padding: 20px 0
@media (max-width: 360px)
    .text
        height: 285px
        
.left
  flex-direction: row-reverse

.image
  width: 41rem
  height: 374px
  float: right
  border: none
  border-radius: 0px 16px 16px 0px

.leftImage
  float: left
  width: 664px
  height: 374px
  border: none
  border-radius: 16px 0px 0px 16px
@media (max-width: 768px)
    .contentBlockText, .heading, .text
        width: 100%
        
    .image, .leftImage
        width: 100%
        height: auto
        float: none        
        border-radius: 16px 16px 0 0
@media (max-width: 360px)            
    .contentBlockText       
        gap: 30px
        
    .image, .leftImage
        width: 328px
        height: auto
        float: none
        border-radius: 8px 8px 8px 8px