.contactsPage 
  padding: 40px
  display: flex
  flex-direction: column
  h1 
    font-size: 36px
    margin-bottom: 20px
    color: rgb(3, 31, 68)
  h2 
    font-size: 30px
    margin-left: 20px
  h3 
    font-size: 18px
    margin-bottom: 30px
    display: flex
    align-items: center

.breadcrumbs 
  margin-bottom: 30px

.cardsContainer 
  display: flex
  flex-wrap: wrap
  row-gap: 16px
  column-gap: 32px
  align-items: flex-start

.card 
  flex: 1 1 calc(50% - 40px)
  padding: 24px
  display: flex
  flex-direction: column
  justify-content: space-between
  border-radius: 6px
  background: #FFF

.item 
  display: flex
  flex-direction: column
  gap: 8px


.label
  font-weight: bold
  color: black
  display: flex
  align-items: center
  gap: 11px

.card_contact_wrapper 
  font-size: 16px
  border: 1px solid rgb(234, 234, 234)
  border-radius: 8px
  padding: 16px
  display: flex
  flex-direction: column
  gap: 16px

.value 
  color: gray
  margin: 0

.value_weekend 
  color: yellow
  margin: 0
  margin-top: 20px

.icon 
  margin-right: 10px

.card_title 
  display: flex
  align-items: center
  gap: 11px
