.heading
  margin-top: 48px
  @media(max-width: 768px)
    margin-top: 30px
  @media(max-width: 360px)
    margin-top: 20px
.contacts
  margin-top: 48px
  @media(max-width: 768px)
    margin-top: 30px
  svg
    width: 24px
    height: 24px
  &Content
    background-color: rgb(255, 255, 255)
    padding: 24px
    width: 664px
.icons
  display: flex
  align-items: center
  gap: 8px

.text
  margin-top: 8.5px
  a
    text-decoration: none
    color: black
.textColor
  margin-top: 8.5px
  color: rgb(253, 171, 61)
.archive
  margin-top: 32px
  &Card
    border-radius: 8px
    display: flex
    gap: 35px
    margin-bottom: 16px
    @media(max-width: 768px)
      flex-wrap: wrap
    &Heading
      display: flex
      align-items: center
      gap: 12px
    &Line
      border: 1px solid rgb(234, 234, 234)
      border-radius: 8px
      padding: 16px
      margin-top: 26px
      display: flex
      gap: 19px
      flex-direction: column


//.contactsPage
//  margin-top: 40px
//  display: flex
//  flex-direction: column
//  h1
//    font-size: 36px
//    margin-bottom: 20px
//    color: rgb(3, 31, 68)
//  h2
//    font-size: 30px
//    padding-bottom: 32px
//  h3
//    font-size: 18px
//    margin-bottom: 30px
//    display: flex
//    align-items: center
//
//.breadcrumbs
//  margin-bottom: 20px
//
//.cardsContainer
//  display: flex
//  flex-wrap: wrap
//  row-gap: 16px
//  column-gap: 32px
//  align-items: flex-start
//  margin-bottom: 40px
//
//.card
//  flex: 1 1 calc(50% - 40px)
//  padding: 24px
//  display: flex
//  flex-direction: column
//  justify-content: space-between
//  border-radius: 6px
//  background: #FFF
//
//.item
//  display: flex
//  flex-direction: column
//  gap: 8px
//
//
//.label
//  font-weight: bold
//  color: black
//  display: flex
//  align-items: center
//  gap: 11px
//
//.card_contact_wrapper
//  font-size: 16px
//  border: 1px solid rgb(234, 234, 234)
//  border-radius: 8px
//  padding: 16px
//  display: flex
//  flex-direction: column
//  gap: 16px
//
//.value
//  color: gray
//  margin: 0
//
//.value_weekend
//  color: orange
//  margin: 0
//  margin-top: 20px
//
//.icon
//  margin-right: 10px
//
//.card_title
//  display: flex
//  align-items: center
//  gap: 11px
//
//.breadcrumbs
//  display: flex
//  flex-direction: column
//  gap: 40px
//  max-width: 50%
//  margin-top: 40px
