.detailPublication
    &Inner
        padding: 48px 0 80px
        @media (max-width: 1024px)
            padding: 30px 0 70px
        @media (max-width: 425px)
            padding: 20px 0 40px
    &Content
        margin: 48px 0 0
        @media (max-width: 1024px)
            margin: 35px 0 0
        @media (max-width: 425px)
            margin: 20px 0 0
    &ContentInner
        padding: 40px 0 0
        display: flex
        justify-content: space-between
        align-items: start
        gap: 32px
        @media (max-width: 1024px)
            flex-direction: column-reverse
            justify-content: center
            gap: 35px
            padding: 30px 0 0
        @media (max-width: 425px)
            padding: 20px 0 0
            gap: 20px
    &Title
        width: 900px
        @media (max-width: 1024px)
            width: auto

    &Image
        flex: 0 0 50%
        @media (max-width: 1024px)
            width: 100%
        img
            width: 100%
            height: auto
    &Descr
        flex: 1
        width: 100%
        line-height: 130%
        font-weight: 400