.detailPublication
    margin-top: 88px

    &Inner
        padding-top: 48px

    &Content
        margin: 48px 0 0

    &ContentInner
        padding: 40px 0 0
        display: flex
        justify-content: space-between
        align-items: start
        gap: 32px

    &Title
        width: 900px

    &Image
        width: 664px
        height: 374px
        img
            width: 100%
            height: 100%

    &Descr
        width: 664px
        line-height: 130%
        font-weight: 400