.faq
  width: 548px
  margin-top: 186px
  &Form
    padding: 24px
    background: rgb(255, 255, 255)
    border-radius: 8px
    display: flex
    flex-direction: column
    gap: 34px

.errors
  color: darkred
  font-size: 14px

//h1
//  margin-bottom: 47px

.note
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  padding: 0 12px 0 12px
  flex: none
  order: 0
  flex-grow: 0
  margin: 0 10px