.faq
  width: 548px
  &Form
    padding: 24px
    background: rgb(255, 255, 255)
    border-radius: 8px
    display: flex
    flex-direction: column
    gap: 34px

.errors
  color: darkred
  font-size: 14px

h1
  margin-bottom: 47px
