.services
    margin-top: 40px
    margin-bottom: 48px
.downloadPreiList
    display: flex
    gap: 6px
.mapCards
    margin-top: 24px
    margin-bottom: 88px
    display: grid
    gap: 24px
    grid-template-columns: repeat(3, 2fr) 
.serviceCards
    padding: 16px 24px
    width: auto
    background-color: #fff
    border-radius: 8px
    .textServiceCards
        width: auto
.btnCardService
    height: 25px
    margin-top: 16px

@media (max-width: 1280px)
    .serviceCards
        width: auto
    .mapCards
        grid-template-columns: repeat(2, 2fr)

@media (max-width: 790px)
    .serviceCards
        width: auto
    .mapCards
        grid-template-columns: repeat(1, 2fr)
    