
.services
    .headingService
        margin-bottom: 32px

    .serviceCardsContent
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 24px 32px

        .serviceCards
            padding: 16px 24px
            width: 432px
            background-color: #fff
            border-radius: 8px

            .textServiceCards
                width: 314px

            .btnCardService
                height: 25px
                margin-top: 16px

.managements
    .headingManagement
        margin-bottom: 32px

    .management
        display: flex
        gap: 32px
        flex-wrap: wrap
        justify-content: center
        cursor: pointer

        .managementCard
            width: 316px
            height: 539px
            border-radius: 15px
            background-color: #fff

            img
                height: 420px
                border-radius: 10px 10px 0 0
                width: 100%
                object-fit: cover

            .managementContent
                padding: 16px
                display: flex
                flex-direction: column
                gap: 4px

.regulations
    .headingRegulations
        margin-bottom: 32px

    .table
        background-color: var(--main)
        padding: 24px 16px

        .headings
            display: flex
            justify-content: space-between
            text-transform: uppercase
            margin-bottom: 12px

            li
                padding: 8px 12px
                border-radius: 4px
                background-color: var(--grey100)

            .headingDate
                width: 184px

            .headingNumberDoc
                width: 200px

            .headingName
                width: 880px

        .documentsContainer
            height: auto
            max-height: 700px
            overflow-y: auto
            overflow-x: hidden

.btnMoreLoadResults
    margin-top: 20px            
