
.services
    .headingService
        margin-bottom: 32px

    .serviceCardsContent
        display: flex
        flex-wrap: wrap
        gap: 24px 32px
        @media (max-width: 1220px)
            gap: 20px 16px

        .serviceCards
            padding: 16px 24px
            width: 432px
            background-color: #fff
            border-radius: 8px
            @media (max-width: 800px)
                width: 332px
                @media (max-width: 400px)
                    width: 328px

            .textServiceCards
                width: auto

            .btnCardService
                height: 25px
                margin-top: 16px
                pointer-events: none

.managements
    .headingManagement
        margin-bottom: 32px

    .management
        display: flex
        gap: 32px
        flex-wrap: wrap
        cursor: pointer

        .managementCard
            width: 316px
            height: 539px
            border-radius: 15px
            background-color: #fff

            img
                height: 420px
                border-radius: 10px 10px 0 0
                width: 100%
                object-fit: cover

            .managementCardContent
                padding: 16px
                display: flex
                flex-direction: column
                gap: 4px

.regulations
    .headingRegulations
        margin-bottom: 32px

    .table
        background-color: var(--main)
        padding: 24px 16px

        .headings
            display: flex
            justify-content: space-between
            text-transform: uppercase
            margin-bottom: 12px

            li
                padding: 8px 12px
                border-radius: 4px
                background-color: var(--grey100)

            .headingDate
                width: 184px

            .headingNumberDoc
                width: 200px

            .headingName
                width: 880px

        .documentsContainer
            height: auto

            @media (max-width: 1381px)
                background-color: var(--grey100)

    .headingsOutside
        display: none

    @media (max-width: 1381px)
        .table
            padding: 0

            .headings
                display: none

        .headingsOutside
            display: flex
            justify-content: space-between
            text-transform: uppercase
            margin-bottom: 20px

            li
                padding: 8px 12px
                background-color: transparent

            .headingDate
                width: 98px

            .headingNumberDoc
                width: 168px

            .headingName
                width: 300px

        @media (max-width: 620px)
            .headingsOutside
                display: none

.btnMoreLoadResults
    margin-top: 20px
