.heading
  margin-top: 47px
  margin-bottom: 47px

.management
  &Card
    width: 316px
    height: 539px
    border-radius: 15px
    background-color: #fff
    img
      width: 316px
      height: 420px
      border-radius: 10px 10px 0 0
    &Content
      padding: 16px
      display: flex
      flex-direction: column
      gap: 4px

