.banner 
    box-sizing: border-box
    max-width: 1440px    
    height: 809px  
    display: flex
    justify-content: center
    margin: 0 auto
    img1
        display:flex
        justify-content: center
        width:160px
        height:160px
        
