.btn 
   border: none
   border-radius: 10px
.btnDetail
         width: 664px
         height: 40px
         display: flex
         align-items: center
         justify-content: center
         gap: 20px
         padding: 0 25px 
         background-color: var(--main)          
         border-radius: 10px          
         font-family: "Inter", sans-serif
         letter-spacing: 3%
         line-height: 130%
         transition: 1s
         &:hover 
              background-color: var(--grey400)