.banner    
    //background-size: cover
    //background-position: center
    display: flex
    flex-direction: column
    align-items: center    
    justify-content: center    
    max-width: 100wh    
    height: 100vh    
    position: relative

@media (max-width: 1000px)
    .banner
          height: 100vh
          width: 100%
          display: flex
          justify-content: center
          background-size: cover
          background-position: center
          margin: 0px auto
          
@media (max-width: 768px)
    .banner
          height: 100vh
          width: 100%
          display: flex
          justify-content: center
          background-size: cover
          background-position: center
          margin: 0px auto
          
@media (max-width: 360px)
    .banner
          height: 100%
          width: 100%
          display: flex
          justify-content: center
          background-size: cover
          background-position: center
          margin: 0px auto
.bannerImg 
    width: 100%     
    max-width: auto     
    height: auto
    position: absolute
    top: 0
    left: 0
    object-fit: cover
    z-index: -1

@media (max-width: 1024px)
    .bannerImg
         max-width: 100%
.main    
    max-width: 41.5rem
    //width: 100%
    height: 20.5rem
    //height: auto
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center   
    position: absolute 
    z-index: 1    
    top: 12%
    h1          
     position: absolute
     text-align: center
     margin: 0 auto
     top: 90%
     color: var(--main)

@media (max-width: 768px)
    .main
        margin: 0 auto
        max-width: 100%
        //height: 43.75rem
        display: flex
        flex-wrap: wrap
        justify-content: center
        h1
          max-width: 80%
          top: 70%
@media (max-width: 425px)
    .main
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: center
@media (max-width: 360px)
    .main
        display: none
        //width: 100%
        //display: flex
        //flex-wrap: wrap
        //justify-content: center
   
.emblemImg
    position: absolute
    display: flex
    justify-content: center
    margin-left: auto
    margin-right: auto
    max-width: 100%
    width: 200px
    height: auto

@media (max-width: 768px)
    .emblemImg
        width: 10.625rem
        height: auto
@media (max-width: 600px)
    .emblemImg
        width: 9.3rem
        height: auto
@media (max-width: 420px)
    .emblemImg
        width: 8.75rem
        height: auto