.banner    
    position: relative 
    box-sizing: border-box
    background-image: url()
    //background-size: cover    
    display: flex
    flex-direction: column
    align-items: center    
    justify-content: center    
    width: 100%    
    height: 100vh    
    text-align: center   
    //@media (max-width: 768px)
        //.banner
            //min-height: 100%
            //max-width: 100%                                                                   
            //margin: 0 auto
    @media (max-width: 360px)
        .banner
            height: 100%
            width: 100%
            display: flex
            justify-content: center
            background-size: cover
            background-position: center
            margin: 0px auto              

.bannerImg 
    //max-width: 100%     
    width: 100%     
    height: 100%
    position: absolute    
    object-fit: cover
    z-index: -1
    top: 0
    left: 0    
    //@media (max-width: 768px)
       //.bannerImg
            //max-width: 31.25rem
            //min-height: auto
.main    
    //max-width: 41.5rem
    //width: 100%
    min-height: 20.5rem
    height: auto
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center 
    text-align: center  
    z-index: 1
    gap: 32px
    //padding: 20px
    //position: absolute
    //top: 0 
    h1          
     //position: absolute
     text-align: center
     max-width: 650px
     margin-top: 30%
     color: var(--main)
    @media (max-width: 768px)
       .main          
          width: 100%
          height: auto
          //height: 28.125rem 
          display: flex
          flex-wrap: wrap
          justify-content: center         
       .h1
          max-width: 80%
          margin-top: 40%
    @media (max-width: 425px)
       .main
           width: 100%
           display: flex
           flex-wrap: wrap
           justify-content: center
    @media (max-width: 360px)
       .main
           display: none
              
.emblemImg
    position: absolute
    display: flex
    justify-content: center
    margin-left: auto
    margin-right: auto
    //max-width: 100%
    max-width: 12.5rem
    height: auto
    top: 20%
    @media (max-width: 768px)
       .emblemImg
           width: 10.625rem
           height: 10.625rem
    @media (max-width: 600px)
       .emblemImg
           width: 9.3rem
           height: auto
    @media (max-width: 420px)
       .emblemImg
           width: 8.75rem
           height: auto

.detailBtn
        width: 41.5rem
        height: 40px
        display: flex
        align-items: center
        justify-content: center   
        transition: 1s
        &:hover 
              background-color: var(--grey300)

@media (max-width: 768px)    
    .btnDetail
        max-width: 100%