.footer
  height: 244px
  background-color: var(--blue500)
  &Content
    margin-top: 39.5px
  &Logo
    display: flex
    align-items: center
    gap: 16px
    &Title
      display: flex
      flex-direction: column