.footer
  height: 244px
  background-color: var(--blue500)
  margin-top: 50px
  &Content
    padding-top: 39.5px
  &Logo
    display: flex
    align-items: center
    gap: 16px
    &Text
      display: flex
      flex-direction: column
.nav
   margin-top: 24px
.nav h6
    color: rgb(255, 255, 255)
    font-family: "Inter", sans-serif
    font-size: 13px
    font-weight: 400
    line-height: 130%
    letter-spacing: 3%
    text-align: left
    text-transform: uppercase
.navList
  display: flex
  gap: 32px

.copyright
  display: flex
  justify-content: space-between
  margin-top: 17px
  //margin-bottom: 54px

.counterBtn
  background-color: var(--blue400)
  color: var(--main)
  border-radius: 8px
  width: 171px
  height: 51px
  right: 40px
  top: 154px
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  padding: 8px 16px 8px 16px

