.tableRow
    width: 1328px
    height: 72px
    width: auto
    display: flex
    align-items: center
    margin-bottom: 12px
    padding: 16px
    background-color: var(--main)
    border: 2px solid var(--grey200)
    border-radius: 8px

    @media (max-width: 1381px)
        border: none

    .topRow
        display: flex

        .date
            width: 168px

        .numDoc
            width: 200px

    .name
        width: 548px

    .date,
    .numDoc,
    .name
        margin-right: 32px

    .btnsDoc
        display: flex
        gap: 16px

        h6
            margin-right: 4px

    @media (max-width: 1440px)
        flex-direction: column
        align-items: flex-start
        height: 154px
        padding: 16px
        margin-bottom: 10px

        .topRow
            // width: 160px FIX_ME
            width: 260px

        .date,
        .numDoc,
        .name
            width: auto

        .date,
        .numDoc
            width: auto

        .date
            margin-right: 24px

        .name
            margin-top: 16px

        .btnsDoc
            margin-top: 32px

            .btn
                height: 32px
                text-transform: lowercase

            .btn h6::first-letter
                text-transform: uppercase

    @media (max-width: 700px)
        min-height: 175px
