@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap')

.banner
    box-sizing: border-box
    background-image: url('src/assets/images/hero-bg@2x.png')
    background-size: cover
    background-position: center
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    height: 100vh    
    border-radius: 5px
    p
        font-weight: 600
        font-size: 13px
        font-family: "Inter", sans-serif
        line-height: 17px
        letter-spacing: 3%
        text-align: center
        width: 664px
        height: 34px
        margin-top: 110px
        margin-left: auto
        margin-right: auto
        color: var(--main)    
.container 
        margin-top: -70px
.main
    display: wrap        
    flex-direction: column      
    justify-content: center  
    align-items: center 
    width: 674px
    height: 360px
    margin: 50px 400px 0px 400px    
    h1         
         font-family: "Merriweather", serif
         font-style: normal
         line-height: 130%
         text-align: center
         margin: 30px auto
         color: var(--main)
.img1
    display: block
    margin-left: auto
    margin-right: auto
    width: 160px
    height: 160px 
    
     

                
        
